{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="text-danger"><i class="fas fa-star"></i></div>
</div>
{% endblock %}
