{% extends 'base.html.twig' %}

{% block title %}ForumBooster{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center my-5">{{ 'home.title'|trans }}</h1>
        <div class="my-4">
            <a href="{{ path('new_thread') }}" class="btn btn-dark text-center text-decoration-none">Créer un thread</a>
        </div>

        <div class="row">
            <div class="my-5">
                <h2 class="text-center mb-3">Animi eligendi</h2>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eligendi, enim, et eveniet,
                    excepturi id labore libero quaerat quisquam reiciendis rerum similique. Deserunt dignissimos
                    doloremque facere quasi quia rem, voluptate.
                </div>
                <div>Aliquam beatae eius fugiat id ipsa minus officiis repudiandae. Consequuntur earum, enim maiores
                    perferendis recusandae repellat rerum voluptatibus? Blanditiis delectus maxime modi, mollitia
                    numquam odio pariatur reprehenderit sequi tenetur veritatis.
                </div>
                <div>A ab ad animi at autem commodi consectetur consequatur culpa cumque dolor doloremque enim ex ipsum
                    iure laboriosam nam nesciunt nisi nulla numquam odio officiis pariatur quasi sit ullam, vitae.
                </div>
                <div>Cum laboriosam quasi recusandae velit? Et expedita minus natus nihil non ratione tenetur vitae?
                    Assumenda aut delectus eaque enim fuga in ipsam ipsum molestiae molestias, necessitatibus nesciunt,
                    quo rerum, velit?
                </div>
                <div>Doloribus inventore ipsam voluptates. Aut cum deserunt dolor dolorem expedita, harum magnam non
                    nostrum nulla numquam omnis perferendis quae rerum sint tempora voluptas voluptate. Commodi
                    consequatur mollitia optio voluptate voluptatibus?
                </div>
                <div>A ab ad animi at autem commodi consectetur consequatur culpa cumque dolor doloremque enim ex ipsum
                    iure laboriosam nam nesciunt nisi nulla numquam odio officiis pariatur quasi sit ullam, vitae.
                </div>
                <div>Cum laboriosam quasi recusandae velit? Et expedita minus natus nihil non ratione tenetur vitae?
                    Assumenda aut delectus eaque enim fuga in ipsam ipsum molestiae molestias, necessitatibus nesciunt,
                    quo rerum, velit?
                </div>
            </div>
        </div>
    </main>
{% endblock %}
