{% extends 'base.html.twig' %}

{% block title %}ForumBooster{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center my-4">{{ 'category.title'|trans }}</h1>

        {% for parentCategory in parentsCategories  %}
            <h2>{{ parentCategory.name }}</h2>
            {% for childrenCategory in arrayChildrenCategories[parentCategory.id]  %}
                <div class="d-flex border border-dark mb-3">
                    <div class="me-4 p-2">
                        <h3 class="me-4">{{ childrenCategory.name }}</h3>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('category_show', {'id': childrenCategory.id}) }}" class="btn btn-dark text-center text-decoration-none mb-4">Voir</a>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </main>
{% endblock %}
